{% extends "feed/common.html" %}
{% block main %}
<div class="row content-section justify-content-center">
<h1>Wishlist</h1>
{% for land in lands %}
  <div class="card m-1" style="width: 20rem;">
    <img class="card-img-top" src="{{ land.land_image.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ land.location }}</h5>
      <a href="{% url 'detail-land' land.id %}" class="stretched-link"></a>
      <p class="card-text">{{ land.info|truncatechars:40 }}</p>
      <p style="text-align:left;">
      {{ land.area }} {{ land.area_unit }}
      <span style="float:right;">
      ${{ land.price }}
      </span>
      </p>
      <p style="text-align:left;margin-bottom:0;">
      Posted By: {{ land.owner.first_name }} {{ land.owner.last_name }}
      <span style="float:right;">
      <img class="rounded-circle account-img" height="40px" src="{{ land.owner.profile_picture.url }}">
      </span>
      </p>
      <p class="card-text" style="margin : 0; padding-top:0;">Contact No: {{ land.owner.phone_number }}</p>
      {% if land.is_house_or_apartment %}
          <div class="mt-3" style="text-align:center;font-weight:bold">
              <span>Click to get info about the house/apartment</span>
          </div>
      {% endif %}
      <p class="card-footer text-muted">Posted On: {{ land.date_posted }}</p>
    </div>
  </div>
{% endfor %}
</div>
{% endblock main %}
